.range-container {
  position: relative; /* 자식 요소의 절대 위치를 설정하기 위해 relative로 설정 */
}

input[type='range'] {
  -webkit-appearance: none; /* 크롬 및 사파리에서 기본 스타일 제거 */
  width: 90%; /* 슬라이더 너비 */
  height: 5px; /* 슬라이더의 높이 */
  background: #ddd; /* 슬라이더 배경색 */
  border-radius: 5px; /* 모서리 둥글게 */
  margin: 0; /* 여백 제거 */
}

/* 썸 스타일링 */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* 크롬 및 사파리에서 기본 스타일 제거 */
  appearance: none; /* Firefox에서 기본 스타일 제거 */
  width: 15px; /* 썸의 너비 */
  height: 15px; /* 썸의 높이 */
  border-radius: 50%; /* 썸을 둥글게 */
  background: #ff8c00; /* 썸의 색상 */
  cursor: pointer; /* 커서 모양 변경 */
}

input[type='range']::-moz-range-thumb {
  width: 15px; /* 썸의 너비 */
  height: 15px; /* 썸의 높이 */
  border-radius: 50%; /* 썸을 둥글게 */
  background: #ff8c00; /* 썸의 색상 */
  cursor: pointer; /* 커서 모양 변경 */
}

input[type='range']::-ms-thumb {
  width: 15px; /* 썸의 너비 */
  height: 15px; /* 썸의 높이 */
  border-radius: 50%; /* 썸을 둥글게 */
  background: #ff8c00; /* 썸의 색상 */
  cursor: pointer; /* 커서 모양 변경 */
}
