@import '../../assets/fonts/pretendard/web/static/pretendard.css';
@import '../../assets/fonts/pretendard/web/static/pretendard-subset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Pretendard', sans-serif !important;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
}
